.wrapper {
  border-bottom: 1px solid red;
  border-top: 1px solid var(--c-light-dark);
  border-bottom: 1px solid var(--c-light-dark);
}

.inner {
  height: 82px;
  display: flex;
  align-items: center;
}
