.wrapper {
  margin-left: 1.5rem;
}

.list {
  display: flex;
  align-items: center;
}

.item {
  & + & {
    margin-left: 1.5rem;
  }
}

.link {
  font-size: var(--fs-sm);
  line-height: var(--ln-sm);
  font-weight: 500;
  color: var(--c-gray);
  &:hover {
    color: var(--c-primary);
  }
}

.dropdown {
  position: relative;
  &:hover {
    .dropdown_menu {
      opacity: 1;
      visibility: visible;
      display: flex;
    }
  }
  &_menu {
    padding: 0.37rem 0;
    position: absolute;
    top: 100%;
    background-color: #fff;
    min-width: 220px;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--c-light-gray);
    border-radius: var(--radius-sm);
    margin-top: 10px;
    visibility: hidden;
    opacity: 0;
    display: none;
    &::after {
      content: "";
      position: absolute;
      top: -15px;
      left: 0;
      width: 100%;
      height: 15px;
      background-color: transparent;
    }
  }
  &_item {
    width: 100%;
    & + & {
      margin-left: 0;
    }
  }
  &_link {
    display: flex;
    font-size: inherit;
    padding: 0.37rem 1.5rem;
    &:hover {
      background-color: var(--c-light);
    }
  }

  hr {
    border-top: 1px solid var(--c-light-gray);
  }
}
